// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@400;500;700&display=swap");

// VARIABLES
:root {
  --header-height: 3.5rem;

  // colors
  --container-color: #fff;
  --body-color: hsl(0, 0%, 99%)
  --border-color: hsl(0, 0%, 94%);
  --text-color: hsl(0, 0%, 35%);
  --title-color: hsl(0, 0%, 15%);
  --first-color: hsl(31, 100%, 70%);


  // typography
  --font-body: "Roboto", sans-serif;

  --biggest-font-size: 3.2rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.6rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.3rem;
  --smallest-font-size: 1.2rem;

  --font-medium: 500;
  --font-bold: 700;

  // spacing
    --mb-1: .4rem;
    --mb-2: .8rem;
    --mb-3: 1.2rem;
    --mb-4: 1.6rem;
    --mb-6: 2.4rem;
    --mb-8: 3.2rem;
    --mb-10: 4rem;
    --mb-12: 4.8rem;

}
